@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, #194489);
	border-radius: 20px;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	background-position: top-right;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-img {
	background: url('../../public/images/hero-bg.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
#hero {
	background: url('../../public/images/hero-bg.png');
	background-position: top-right;
	background-size: cover;
	background-attachment: fixed;
}

#hero-text {
	background: linear-gradient(to right, #194489 20%, #1aecde);
	background-clip: text;
	color: transparent;
}

.navbar {
	background-color: transparent;
}

.navbar.active {
	backdrop-filter: blur(20px);
}

/* .disconnect-btn {
	color: #194489;
	z-index: 1;
	background: linear-gradient(145deg, #194489 20%, #1aecde);
	position: relative;
	border-radius: 50px;
}

.disconnect-btn::after {
	position: absolute;
	content: '';
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	background: #e8e8e8;
	top: 2px;
	left: 2px;
	z-index: -1;
	border-radius: 50px;
} */

.bg-color {
	background: linear-gradient(to right, #194489 20%, #1aecde);
}
